@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 240 20% 99%;
        --foreground: 240 10% 3.9%;
        --card: 240 20% 99%;
        --card-foreground: 240 10% 3.9%;
        --popover: 240 20% 99%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 120 61% 34%;
        --primary-foreground: 120 60% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 51 100% 50%;
        --accent-foreground: 51 100% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 120 61% 34%;
        --chart-1: 120 61% 34%;
        --chart-2: 51 100% 50%;
        --chart-3: 0 84.2% 60.2%;
        --chart-4: 262 80% 58%;
        --chart-5: 210 40% 96.1%;
        --header-background: 148 30% 20%;
        --header-foreground: 0 0% 98%;
        --sidebar-background: 148 30% 20%;
        --sidebar-foreground: 0 0% 90%;
        --sidebar-primary: 51 100% 50%;
        --sidebar-primary-foreground: 148 30% 20%;
        --sidebar-accent: 148 30% 25%;
        --sidebar-accent-foreground: 0 0% 98%;
        --sidebar-border: 148 30% 28%;
        --sidebar-ring: 0 0% 98%;
    }

  .dark {
    --background: 240 5.9% 10%;
    --foreground: 0 0% 98%;
    --card: 240 3.7% 15.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5.9% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 120 61% 45%;
    --primary-foreground: 120 60% 98%;
    --secondary: 240 3.7% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 20%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 51 100% 50%;
    --accent-foreground: 51 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 25%;
    --input: 240 3.7% 25%;
    --ring: 120 61% 45%;
    
    --header-background: 148 30% 20%;
    --header-foreground: 0 0% 98%;

    --sidebar-background: 148 30% 20%;
    --sidebar-foreground: 0 0% 90%;
    --sidebar-primary: 51 100% 50%;
    --sidebar-primary-foreground: 148 30% 20%;
    --sidebar-accent: 148 30% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 148 30% 28%;
    --sidebar-ring: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    .auth-bg {
        background-image:
        radial-gradient(circle at 1px 1px, hsl(var(--border)) 1px, transparent 0);
        background-size: 1.5rem 1.5rem;
    }
}
